<div class="card">
  <%= link_to image_tag(route.image, class: :card__img ), route_path(route.id) %>
  <div class="card__body">
    <%= link_to "＜タイトル＞", route_path(route.id), class: :card__summary%>
    <%= link_to "#{route.title}", route_path(route.id), class: :card__title%>
    <p class="card__summary">＜カテゴリー＞
      <span class="category"><%= "#{route.category.name}" %>
      </span>
    </p>
    <p class="card__summary">＜地域＞
      <span class="category"><%= "#{route.city.name}" %>
      </span>
    </p>
    <p class="card__summary">
      <div class="category" id='route_<%= route.id %>'>
      <% if current_user.liked_by?(route) %>
        <%= link_to 'いいね!', destroy_like_path(route), class: "like-link", method: :DELETE, remote: true  %> 
          <i class="fa-lg fas fa-heart unlike-btn"></i>
          <%= route.likes.count %>
      <% else %>
        <%= link_to 'いいね', create_like_path(route), class: "like-link", method: :POST, remote: true %> 
          <i class="fa-lg fas fa-heart like-btn"></i>
          <%= route.likes.count %>
      <% end %>
      </div>
    </p>
    <%= link_to "#{route.user.nickname}", user_path(route.user.id), class: :card__user %>
  </div>
</div>